.project{
margin-top:20vh;
color:white;
text-align:center;
}

.title{
font-size:40px;
margin-bottom:5vh;
color:#22d3ee;
}

/* container */

.project-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

/* card */

.project-card{
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
padding:20px;
border-radius:20px;
width:280px;
transition:0.4s;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #8b5cf6;
}

.project-card img{
width:100%;
border-radius:10px;
}

.project-card h3{
margin-top:15px;
color:#8b5cf6;
}

.project-card p{
font-size:14px;
margin:10px 0;
}

/* button */

.project-card button{
background:#8b5cf6;
border:none;
padding:8px 20px;
border-radius:20px;
color:white;
cursor:pointer;
}

.project-card button:hover{
background:#22d3ee;
}